@{
    ViewBag.Title = "Eolien";
}
<h2>@ViewBag.Title</h2>


<div>


</div>
<div>
    <img src="@Url.Action("EolienChart")" alt="graphique Eolien" />
    <h3>Production [kWh] par jour (Octobre 2013)</h3>
</div>
