@{
    ViewBag.Title = "Photovoltaïque";
}
<h2>@ViewBag.Title</h2>


<div>

    
</div>
<div>
   <img src="@Url.Action("PVChart")" alt="graphique PV" />


   <h3>Production [kWh] par jour (Octobre 2013)</h3>
</div>







