@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Votre installation a été enregistrée !</p>
<p>N° d'enregistrement est le : </p>


<li>@Html.ActionLink("Home", "Index", "Home")</li>
